@mixin flexCenterDirection($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin flexCenterDirection($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
  align-items: center;
}
